body {
    font-family: sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.heading {
    padding: 20px;
    border-bottom: 3px solid #7d97ad;
    text-align: right;
}

.heading img {
    width: 100px;
    height: auto;
    float: left;
}

