body {
    font-family: sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.heading {
    padding: 20px;
    border-bottom: 3px solid #7d97ad;
    text-align: right;
}

.heading img {
    width: 100px;
    height: auto;
    float: left;
}

.main-image {
    padding: 30px 50px;
}

.main-image img{
    width: 100%;
}

.featured-work-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.featured-work h3{
    color: #7d97ad;
    /*display: block;*/
    text-align: center;
}

.featured-work-section {
    margin: 10px;
    width: 30%;
}

.featured-work-section img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: cornflowerblue;

}
@media (max-width: 600px) {
    .heading {
        text-align: center;
    }

    .featured-work {
        display: block;
    }

    .featured-work-container {
        display: block;
        margin: auto;
    }

    .featured-work-section {
        width: 100%;
        margin: 0;
    }

    .heading img {
             width: 50px;
             display: block;
             margin: auto;
             float: none;
         }

    .featured-work h3{
        color: #7d97ad;
        display: block;
        text-align: left;
    }
}

