<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lora Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<header class="heading">
    <img src="../img/udacity.svg" alt="Udacity logo">
    <h1 class="uppercase">LORA TITORENKOVA</h1>
    <h3 class="uppercase">Front-end ninja</h3>
</header>
<div class="main-image">
    <img src="../img/lora-code.jpg">
</div>
<div class="featured-work">
    <h3>Featured work</h3>
    <div class="featured-work-container">
        <div class="featured-work-section">
            <img src="../img/elite-project.png" alt="Horseriding club website"/>
            <h4 class="uppercase">Equestrian website</h4>
            <a href="https://github.com/LoraTito/Elite" target="_blank"><p class="link">
                https://github.com/LoraTito/Elite</p></a>
        </div>
        <div class="featured-work-section work-1">
            <img src="../img/pixel-art.png" alt="Pixel art project"/>
            <h4 class="uppercase">Pixel art</h4>
            <a href="https://github.com/LoraTito/udacity-pixel-art-final-project" target="_blank"><p class="link">
                https://github.com/LoraTito/udacity-pixel-art-final-project</p></a>
        </div>
        <div class="featured-work-section work-1">
            <img src="../img/animal-trading-card.png" alt="Aligator trading card project"/>
            <h4 class="uppercase">Animal Trading Card</h4>
            <a href="https://github.com/LoraTito/udacity-animal-trade-cards" target="_blank"><p class="link">
                https://github.com/LoraTito/udacity-animal-trade-cards</p></a>
        </div>
    </div>
</div>
</body>
</html>